<div class="container">

    <div class="row">

        <div class="col col-lg-6">
            <h4>Details</h4>
            <br/>
            <table class="table table-bordered table-condensed table-striped">
{% for key, value in page.user %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
{% endfor %}
            </table>

            <br/>
            <h4>Change Password</h4>
            <form action="{{ app.request.requestUri }}" method="post" class="form-inline">
                <input type="hidden" name="action" value="change-password"/>
                <input type="text" name="password" value="" placeholder="New Password" class="input-small" style="width:80%"/>
                <input type="submit" class="btn btn-primary btn-small" value="Update" style="width:19%"/>
            </form>

        </div>

        <div class="col col-lg-6">
            <h4>Bucket Access</h4>
            <br/>
{% if user_buckets | length > 0 %}
            <table class="table table-bordered table-condensed table-striped">
{% for bucket in user_buckets %}
                <tr>
                    <td><a href="/bucket/{{ bucket.appkey }}">{{ bucket.name }}</a></td>
                    <td style="text-align:center">{{ bucket.roles[page.id] }}</td>
                    <td width="10"><a href="?action=revoke-app-access&amp;bucket={{ bucket.appkey }}"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
{% endfor %}
            </table>
{% else %}
            <div class="alert alert-info">This user can't access any buckets</div>
{% endif %}

            <form action="{{ app.request.requestUri }}" method="post" class="form-inline">
                <input type="hidden" name="action" value="grant-app-access"/>
                <select name="bucket" style="width:40%" class="input-small">
                    <option value="0">-- Grant Access --</option>
{% for bucket in buckets %}
                    <option value="{{ bucket.appkey }}">{{ bucket.name }}</option>
{% endfor %}
                </select>
                <select name="role" style="width:40%" class="input-small">
                    <option>read</option>
                    <option>write</option>
                    <option>admin</option>
                    <option>owner</option>
                </select>
                <input type="submit" class="btn btn-primary btn-small" value="Grant" style="width:18%"/>
            </form>

        </div>

    </div>

</div>
