<div class="container">

    <div class="row">

        <div class="col col-lg-12">
            <div class="clearfix">
                <div class="pull-left">
                    <h4>My API Keys ( {{ apikeys | length }} / {{ user.apikey_limit }} )</h4>
                </div>
                <div class="pull-right">
{% if apikeys | length < user.apikey_limit %}
                    <a href="?action=create-apikey">Create New Key</a>
{% endif %}
                </div>
            </div>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="align-center">Key</th>
                        <th class="align-center">Name</th>
                        <th class="align-center">Requests</th>
                        <th class="align-center" width="64">Status</th>
                        <th class="align-center" width="200">Created</th>
                        <th width="50"/>
                    </tr>
                </thead>
{% for key, data in apikeys %}
                <tr>
                    <td width="120"><code>{{ key }}</code></td>
                    <td class="align-center">{{ data.name ?: key }}</td>
                    <td class="align-center">{{ data.requests }}</td>
                    <td class="align-center">
{% if data.active %}
                        <span class="label label-success">active</span>
{% else %}
                        <span class="label">inactive</span>
{% endif %}
                    </td>
                    <td class="align-center">{{ data.created.sec | date('Y-m-d H:i:s') }}</td>
                    <td><a class="btn btn-primary btn-small"><span class="icon-edit"></span> edit</a></td>
                </tr>
{% endfor %}
            </table>
        </div>

    </div>

</div>

